@font-face {
  font-family: Arabic;
  src: url(Font\ Family/Sakkal\ Majalla\ Bold.ttf);
}

@font-face {
  font-family: ArabicRegular;
  src: url(Font\ Family/Sakkal\ Majalla\ Regular.ttf);
}

@font-face {
  font-family: 'Times New Roman', Times, serif;
  src: url(Font\ Family/Times\ New\ Roman\ Bold.ttf);
}

@font-face {
  font-family: 'Times New Roman', Times, serif;
  src: url(Font\ Family/Times\ New\ Roman\ Regular.ttf);
}

@font-face {
  font-family: Darkmode;
  src: url(Font\ Family/Darkmode-Regular.OTF);
}

@font-face {
  font-family: Nunito;
  src: url(Font\ Family/Nunito-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 11px;
}

body {
  margin: 0;
  padding: 0;
  background-color: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* margin: 15px auto; */
  margin-top: 20px;
  max-width: 100%;
  /* width: 450px; */
  height: auto;
}

#section21 {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page1 {
  height: 870px;
  width: 640px;
  background-color: white;
  padding: 0px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

#image-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 558.5px;
  margin-right: 0.5px;
  height: auto;
  background-color: transparent;
  position: relative;
}

#pdf-logo1 {
  height: 138px;
  width: 142px;
  margin-left: 5px;
  /* margin: 0px auto; */
  background-color: transparent;
}

#table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tr1 {
  padding: 3.3px 10px 6.5px 10px;
  font-size: 11.5px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

#tr1 span {
  font-size: 14.5px;
  font-weight: 500;
  letter-spacing: normal;
}

.arabic {
  font-family: Arabic;
  font-weight: 500;
  text-align: right;
  direction: rtl;
  font-size: 11px;
}

#td2 {
  padding: 1px 1px 1px 5px;
}

#title-select {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 38px;
  padding: 0;
  border-radius: 2px;
}

#title-select:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#name-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 260px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#name-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#td46 {
  width: 312px;
}

#plotNo-input,
#plotNo1-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 110px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#plotNo-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

input[type='text'] {
  transition: font-size 0.2s ease;
}

#project-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 300px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
  line-height: 10.5px;
}

#project-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#load-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 100%;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#load-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#td50 {
  width: 312px;
}

#parties-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 300px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#parties-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#td51 {
  width: 312px;
}

#consultant-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 300px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#consultant-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#td52 {
  width: 312px;
}

#contractor-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 300px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#contractor-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

#td53 {
  width: 312px;
}

#elec-contractor-input {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 300px;
  padding: 1px 1px 1px 3px;
  border-radius: 2px;
}

#elec-contractor-input:focus {
  border: none;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
}

/* Hide spinners in Chrome, Edge, and Safari */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Additional optional styling for consistent look */
input[type='number'] {
  appearance: none;
}

#name-input[style='display:none'],
#title-select[style='display:none'] {
  display: none;
}

#name-input {
  position: relative;
  padding-right: 25px; /* Leave space for the X button */
}
input[type='text'] {
  transition: font-size 0.2s ease;
}

#clear-button,
#clear-button1,
#clear-button2,
#clear-button3,
#clear-button4,
#clear-button5,
#clear-button6,
#clear-button7,
#clear-button8,
#clear-button9 {
  font-size: 8px;
  color: black;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
}

#area-search-div {
  position: relative;
  width: 200px;
}

#area-search {
  border: none;
  outline: none;
  border: 0.5px solid black;
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 10px;
  width: 100%;
  padding: 1px 0px 1px 3px;
  border-radius: 2px;
}

#area-select {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 10px;
  background-color: #f9f9f9;
  display: none; /* Initially hidden */
  position: absolute;
  top: calc(100% + 5px); /* Position below the input with some gap */
  left: 0;
  z-index: 1000; /* Ensure it appears above other elements */
  width: 100%; /* Match the input width */
  max-height: 150px; /* Restrict height */
  overflow-y: auto; /* Enable scrolling */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

#area-select option {
  font-size: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}

#area-select option:hover {
  background: rgb(212, 206, 206);
}

td {
  padding: 2px 3px 6.5px 6px;
  border: solid black 0.5px;
  /* border: none; */
  vertical-align: middle;
}

.font {
  font-family: EnglishRegular;
  font-weight: 500;
  font-size: 11px;
  text-align: justify;
}

.td11 {
  padding: 3px 5px 3px 3px;
}

#td5 {
  vertical-align: middle;
}

#td4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}

#ul1 li {
  text-align: left;
  line-height: 15px;
  font-size: 11px;
}

#ul2 li {
  text-align: right;
  line-height: 15px;
  font-size: 13px;
}

.td9 {
  vertical-align: middle;
}

.font1 li {
  font-family: ArabicRegular;
}

.font2 li {
  font-family: ArabicRegular;
  font-weight: 500;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .checkmark {
  display: inline-block;
  width: 13px;
  height: 10px;
  border: 0.8px solid black;
  position: relative;
  top: 1.5px;
}

.custom-checkbox .checkmark img {
  position: relative;
  bottom: 3.4px;
  left: 1px;
  display: none; /* Hide by default */
  width: 10.5px; /* Adjust image size to fit the box */
  height: 10.5px;
}

.custom-checkbox input:checked + .checkmark img {
  display: block; /* Show image when checked */
}

table {
  border-collapse: collapse;
  border: solid black 1px;
  table-layout: fixed; /* Ensures widths are respected */
}

#td6 {
  width: 47.3%;
  padding: 0px 5px 3px 5px;
}

#td61 {
  width: 47%;
  padding: 3px 5px 3px 5px;
}

#td6 span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

#ul3 {
  margin-top: 5px;
  padding-left: 15px;
  margin-bottom: 8px;
}

#ul3 li {
  text-align: left;
  line-height: 15px;
  list-style-type: none;
  list-style-position: outside;
  padding-left: 5px;
}

#ul3 li::before {
  content: '■';
  font-size: 7px;
  position: absolute;
  left: 6.5px;
  color: black;
}

#ul3 #li1 {
  text-align: justify;
  word-spacing: 2.44px;
  letter-spacing: 0.1px;
}

#ul99 {
  margin-top: 5px;
  padding-left: 15px;
  margin-bottom: 7px;
}

#ul99 li {
  text-align: left;
  line-height: 15px;
  list-style-type: none;
  list-style-position: outside;
  padding-left: 5px;
}

#ul99 li::before {
  content: '■';
  font-size: 7px;
  position: absolute;
  left: -14px;
  color: black;
}

#ul99 #li1 {
  text-align: justify;
  word-spacing: 2.44px;
  letter-spacing: 0.1px;
}

#ul4 {
  padding-left: 15px;
  width: auto;
}

#ul4 li {
  list-style-type: none;
}

#ul4 li::before {
  content: none; /* Use square bullet */
  position: none;
}

#td7 {
  width: 50%;
  padding: 3px 5px 3px 4px;
  vertical-align: top;
}

#td7 h4 {
  width: 21.3%;
  float: right;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

#ul5 {
  margin-top: 13px;
  margin-bottom: 3px;
  padding-right: 22px;
}

#ul5 li {
  text-align: justify; /* Justify the text */
  direction: rtl; /* Set the direction to right-to-left for right alignment */
  line-height: 16.5px;
  font-size: 11px;
  font-family: ArabicRegular;
  font-weight: 500;
  padding-right: 5px;
  position: relative;
  word-spacing: 0.5px;
}

#p1 {
  padding-left: 5px;
  line-height: 15px;
  position: relative;
  top: -9px;
}

#ul5 li::before {
  content: '■'; /* Use square bullet */
  font-size: 7px;
  position: absolute;
  right: -8px; /* Align bullet to the right edge */
  top: -2px;
  color: black; /* Change to preferred color */
}

#ul6 li::before {
  content: none; /* Use square bullet */
  position: none;
}

#li5 {
  position: relative;
}

#li5::after {
  content: '.';
  position: relative;
  right: -3.4px;
  font-size: 16px;
}

#li6 {
  position: relative;
}

#li6::after {
  content: '.';
  position: relative;
  right: -2px;
  font-size: 16px;
}

#pageno-container {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-bottom: 10px;
}

#line {
  border-bottom: 0.1px solid #a09d9d; /* Left border as the vertical line */
  height: 35px; /* Height of the line */
  width: 85%;
}

#pageno {
  width: 86.8%;
  text-align: right;
  color: black;
  font-family: EnglishRegular;
  font-size: 11px;
  margin-top: 1.5px;
}

#pageno span {
  /* border-left: 1px solid black;
  padding-left: 3px; */
  color: #848484;
  letter-spacing: 3.3px;
}

#information {
  color: #848484;
  font-family: Darkmode;
  font-size: 12px;
  letter-spacing: 2.2px;
  margin-top: 17px;
  margin-left: 13px;
}

/* sfjgdbfvdjfiuf */
#page2 {
  height: 870px;
  width: 640px;
  background-color: white;
  padding: 0px 15px 15px 15px;
  display: flex;
  justify-content: center;
}

#image-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 558.5px;
  margin-right: 0.5px;
  height: auto;
  background-color: transparent;
  position: relative;
}

#pdf-logo2 {
  height: 137px;
  width: 142.5px;
  margin-left: 6px;
  background-color: transparent;
}

#td77 {
  width: 50%;
  padding: 0px 5px 3px 4px;
}

#td15 {
  border: none;
  padding: 30px 5px 3px 20px;
}

#div1,
#div2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#div2 {
  padding-top: 15px;
}

#div1 span {
  font-family: EnglishRegular;
  font-weight: 500;
  line-height: 15px;
  text-align: justify;
}

#div2 span {
  font-family: EnglishRegular;
  font-weight: 500;
  line-height: 15px;
  text-align: justify;
}

.custom-checkbox1 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 2px;
}

.custom-checkbox1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox1 .checkmark1 {
  display: inline-block;
  width: 12px;
  height: 9.9px;
  outline: none;
  border: 1px solid black;
  position: relative;
  top: 0.5px;
}

.custom-checkbox1 .checkmark1 img {
  position: relative;
  bottom: 3px;
  left: 1px;
  display: none; /* Hide by default */
  width: 9px; /* Adjust image size to fit the box */
  height: 9px;
}

.custom-checkbox1 input:checked + .checkmark1 img {
  display: block; /* Show image when checked */
}

.custom-checkbox2 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 2px;
}

.custom-checkbox2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox2 .checkmark2 {
  display: inline-block;
  width: 12px;
  height: 10px;
  outline: none;
  border: 1px solid black;
  position: relative;
  top: 0.5px;
}

.custom-checkbox2 .checkmark2 img {
  position: relative;
  bottom: 3px;
  left: 1px;
  display: none; /* Hide by default */
  width: 9px; /* Adjust image size to fit the box */
  height: 9px;
}

.custom-checkbox2 input:checked + .checkmark2 img {
  display: block; /* Show image when checked */
}

#td16 {
  padding: 0px 20px 3px 5px;
}

#div3,
#div4 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 3px;
}

#div4 {
  padding-top: 28px;
  justify-content: end;
  padding-bottom: 6px;
}

#div3 span {
  font-family: ArabicRegular;
  font-size: 11.5px;
  font-weight: 500;
  line-height: 18px;
  text-align: justify;
  direction: rtl;
  vertical-align: top;
  word-spacing: -0.4px;
}

#div4 span {
  font-family: ArabicRegular;
  font-size: 11.5px;
  font-weight: 500;
  line-height: 15px;
  text-align: justify;
  direction: rtl;
}

.custom-checkbox2 {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-top: 2px;
}

.custom-checkbox3 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox3 .checkmark3 {
  display: inline-block;
  width: 12px;
  height: 10px;
  outline: none;
  border: 1px solid black;
  position: relative;
  top: 0.5px;
}

.custom-checkbox3 .checkmark3 img {
  position: relative;
  bottom: 3px;
  left: 0px;
  display: none; /* Hide by default */
  width: 9px; /* Adjust image size to fit the box */
  height: 9px;
}

.custom-checkbox3 input:checked + .checkmark3 img {
  display: block; /* Show image when checked */
}

#td17 {
  padding: 30px 5px;
}

#sign-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#sign {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#sign #span1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  letter-spacing: -1px;
  font-weight: 400;
}

#sign #span2 {
  font-family: Arabic;
  font-size: 15px;
  font-weight: 900;
}

#sign1 {
  display: flex;
  width: 58%;
  height: 35px;
  border-bottom: 1px solid black;
}

#pageno-container2 {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-bottom: 10px;
}

#line2 {
  border-bottom: 0.1px solid #a09d9d; /* Left border as the vertical line */
  height: 35px; /* Height of the line */
  width: 85%;
}

#pageno2 {
  width: 86.8%;
  text-align: right;
  color: black;
  font-family: EnglishRegular;
  font-size: 11px;
  margin-top: 1.5px;
}

#pageno2 span {
  /* border-left: 1px solid black;
  padding-left: 3px; */
  color: #848484;
  letter-spacing: 3.3px;
}

#information2 {
  color: #848484;
  font-family: Darkmode;
  font-size: 12px;
  letter-spacing: 2.2px;
  margin-top: 17px;
  margin-left: 13px;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 110px;
  z-index: 9999;
}

#loadertext {
  color: white;
  font-size: 19px;
  font-weight: 500;
  font-family: Nunito;
  letter-spacing: 0.5px;
}

.loader {
  position: relative;
  width: 120px;
  height: 55px;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle 2.5px, #ff3d00 100%, transparent 0),
    linear-gradient(#525252 90px, transparent 0),
    linear-gradient(#ececec 120px, transparent 0),
    linear-gradient(to right, #eee 10%, #333 10%, #333 90%, #eee 90%);

  background-size: 5px 5px, 90px 10px, 120px 45px, 100px 15px;
  background-position: 110px 15px, center bottom, center bottom, center 0;
}
.loader:before {
  content: '';
  width: 70px;
  background-color: #fff;
  box-shadow: 0 0 10px #0003;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: calc(100% - 10px);
  animation: printerPaper 3s ease-in infinite;
}
.loader:after {
  content: '';
  width: 70px;
  height: 80px;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff 50%, #ff3d00 51%),
    linear-gradient(to bottom, #bbb 50%, #0000 51%);
  background-size: 60px 20px, 60px 10px;
  background-repeat: no-repeat, repeat-y;
  background-position: center 55px, center 0;
  position: absolute;
  left: 50%;
  transform: translatex(-50%) rotate(180deg);
  box-shadow: 0 10px #fff inset;
  top: calc(100% - 8px);
  animation: PrintedPaper 3s ease-in infinite;
}

@keyframes printerPaper {
  0%,
  25% {
    height: 50px;
  }
  75%,
  100% {
    height: 0;
  }
}

@keyframes PrintedPaper {
  0%,
  30% {
    height: 0px;
    top: calc(100% - 8px);
  }

  80% {
    height: 80px;
    top: calc(100% - 8px);
    opacity: 1;
  }
  100% {
    height: 80px;
    top: calc(100% + 10px);
    opacity: 0;
  }
}

#download-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}

#download-container button {
  font-family: 'Segoe UI', sans-serif;
  font-size: 13px;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* PDF Button Style */
#download-pdf {
  background-color: #ff7043;
  color: white;
  font-weight: 500;
}

#download-pdf:hover {
  background-color: #ff5722;
}

/* Toggle View Button */
#toggle-view {
  background: #f4f4f4;
  font-size: 16px;
  color: #333;
}

#toggle-view:hover {
  background: #e0e0e0;
}





@media (max-width: 480px) {
  #image-container1,
  #image-container2 {
    width: 99%;
  }
  #page1,
  #page2 {
    height: 520px;
    width: 390px;
    background-color: white;
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
  }
  #pdf-logo1,
  #pdf-logo2 {
    height: 85px;
    width: 90px;
    margin-left: 3px;
    /* margin: 0px auto; */
    background-color: transparent;
  }

  #title-select {
    width: 32px;
  }
  * {
    font-size: 9px;
  }
  .font {
    font-size: 8px;
  }
  #name-input {
    width: 60px;
    padding: 1px 1px 1px 2px;
    font-size: 8px;
  }
  #area-search-div {
    position: relative;
    width: 100px;
  }
  #area-search {
    border: none;
    outline: none;
    border: 0.5px solid black;
    font-family: EnglishRegular;
    font-weight: 500;
    width: 100%;
    padding: 1px 1px 1px 2px;
    font-size: 8px;
    border-radius: 2px;
  }
  #area-select option {
    font-size: 9px;
    margin-bottom: 3px;
    cursor: pointer;
  }
  #plotNo-input,
  #plotNo1-input {
    width: 60px;
    padding: 1px 1px 1px 2px;
    font-size: 8px;
  }
  #project-input,
  #parties-input,
  #consultant-input,
  #contractor-input,
  #elec-contractor-input {
    width: 100px;
    padding: 1px 1px 1px 2px;
    font-size: 8px;
  }
  #ul1 li {
    font-size: 8px;
    line-height: 11px;
  }
  #ul2 li {
    font-size: 9px;
    line-height: 8.5px;
    margin-top: 1px;
  }
  li span {
    margin-bottom: -1.2px;
  }
  #tr1 {
    font-size: 9px;
    padding: 2px 10px 2.3px 10px;
  }
  #tr1 span {
    font-size: 9.5px;
  }
  #td31,
  #td32,
  #td33,
  #td99,
  #td34,
  #td5,
  #td35,
  #td36,
  #td37,
  #td38 {
    font-size: 8px;
    width: 120px;
    padding: 1px 1px 1px 3px;
    font-weight: 700;
  }
  #td3,
  #td11,
  #td12,
  #td13,
  #td14,
  #td15,
  #td16,
  #td17,
  #td18 {
    width: 125px;
  }

  .td11 {
    font-size: 9px;
    padding: 1px 3px 1px 1px;
  }
}

#reminder-popup {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  font-family: Nunito;
  font-size: 14px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: top 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

#reminder-popup button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}


.footer {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  color: #ffffff;
  background: #000000;
  font-family: Nunito, sans-serif;
  letter-spacing: 0.1px;
}

.footer a {
  color: #ffd700;
  text-decoration: none;
  font-weight: 500;
  font-size: 14.5px;
  letter-spacing: 0.1px;
}

.footer a:hover {
  text-decoration: underline;
  text-underline-offset: 5px; /* Increase the gap */
}

.heart {
  color: #e90606;
  animation: heartbeat 0.35s infinite alternate;
  display: inline-block;
  margin: 0 4px;
  transform-origin: center;
}

@-webkit-keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}
@keyframes heartbeat {
  to {
    transform: scale(1.1);
  }
}
